.app_dark_red_theme {
  --bg-color: #fbf4f5;
  --inverted-bg-color: #743440;
  --primary-color: #a24a03;
  --secondary-color: #ff7400;
  --inverted-primary-color: #c4c0c0;
  --inverted-secondary-color: #fff;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
}
